language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t gconfiac/docker-react -f Dockerfile.dev .

script:
   - docker run -e CI=true gconfiac/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: "ca-central-1"
  app: "docker-react"
  env: "Docker-env"
  bucket-name: "elasticbeanstalk-ca-central-1-773267386500"
  bucket-path: "docker-react"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: "$AWS_SECRET_KEY"